#**Data Science Tools and Ecosystem**

In this notebook, Data Science Tools and Ecosystem are summarized.

###**Some of the popular languages that Data Scientists use are:**
1. Python
2. R
3. Julia

###**Some of the commonly used libraries used by Data Scientists include:**
1. Numpy
2. Pandas
3. Plotly
4. Matplotlib

|<h3>**Data Science Tools**</h3>|
|-----|
|Jupyter Notebook|
|Rstudio|
|VScode|

###**Below are a few examples of evaluating arithmetic expressions in Python**

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
print("200 minutes = ", 200/60, " hours")

200 minutes =  3.3333333333333335  hours

###**Objectives:**
- List popular languages for Data Science
- List commonly used libraries
- Open source data science tools
- Markdown examples
- Python arithmatic examples

##Author

Sumanta Mukherjee